// preset

$MAIN_COLOR: #d5f7e6;
$SUB_COLOR: #5ae4a8;
$GRAY_COLOR: rgba(0, 0, 0, 0.2);
$BG_COLOR: rgb(247, 247, 247);

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

// global

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  line-height: 1;
}
html {
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
}
li {
  display: inline-block;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

// main
.box {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  background-color: khaki;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
}

.nav_header {
  width: 93%;
  top: -100%;
  height: 3.125rem;
  transition: 0.5s;
  margin-bottom: 3rem;
}
.btn_title {
  transition: all 0.3s;
}
.marker {
  font-weight: bold;
  background: linear-gradient(to top, $MAIN_COLOR 5%, transparent 30%);
}

.ant-table th {
  background-color: #d5f7e6 !important;
}

.focus {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $SUB_COLOR;
  }
}

.quill {
  height: 400px;
}
.quill,
.ql-toolbar {
  background-color: white;
}

.tag {
  color: black;
  font-size: 0.7rem;
  background-color: $MAIN_COLOR;
  padding: 2px 0.4rem;
  margin: 0.4rem 0 0 0.4rem;
  border-radius: 10% / 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $SUB_COLOR;
    color: white;
  }
}

.slider-left {
  position: absolute;
  left: -30% !important;
  width: 30% !important;
  div {
    display: none;
  }
}

.slider-right {
  position: absolute !important;
  left: 100% !important;
  width: 30% !important;
  div {
    display: none;
  }
}

.react-3d-carousel {
  height: 350px !important;
  @media only screen and (max-width: 992px) {
    height: 300px !important;
  }
  @media only screen and (max-width: 620px) {
    height: 200px !important;
  }
  @media only screen and (max-width: 420px) {
    height: 170px !important;
  }
}

.contact_image {
  display: block;
  max-width: 100%;
  @media only screen and (max-width: 992px) {
    display: none;
  }
  &_box {
    text-align: center;
    line-height: 2;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    @media only screen and (max-width: 992px) {
      text-align: start;
    }
  }
}

.div_space {
  height: 3rem;
}

.is-current {
  border-left: 5px solid $SUB_COLOR;
  transition: all 0.3s;
  @media only screen and (max-width: 992px) {
    border-left: none;
    border-bottom: 3px solid $SUB_COLOR;
    width: 100% !important;
    span {
      display: block;
      margin-left: 1rem;
    }
  }
}

.portfolio_search {
  font-size: 1.7rem;
  transition: all 0.3;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  @media only screen and (max-width: 420px) {
    display: none;
  }
}

.mobile_port_title {
  &:hover {
    text-decoration: underline;
  }
}

.portfolio_summary {
  text-align: start;
  font-size: 1rem;
  padding: 0 0 7rem 1rem;
  line-height: 2.5;
  @media only screen and (max-width: 420px) {
    font-size: 0.7rem;
  }
}

.portfolio_intro {
  display: block;
  text-align: start;
  margin-top: 3rem;
  line-height: 2;
  font-size: 0.8rem;
  @media only screen and (max-width: 992px) {
    text-align: center;
  }
  @media only screen and (max-width: 420px) {
    font-size: 0.64rem;
  }
}

//===============blog==================//

li {
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}
ul {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

.slick-arrow {
  display: none;
}

.display {
  display: block;
}
.hide {
  display: none;
}
.fixed {
  position: fixed;
  top: 0 !important;
  left: 0;
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 3rem !important;
  .ant-input {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
.static {
  position: static;
}

.blog {
  &_header {
    &_social {
      margin-right: 1rem;
    }
    &_ul {
      display: flex;
      align-items: center;
      margin: 0;
      .icon {
        font-size: 1.5rem;
      }
    }
    &_li {
      margin-right: 2.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &_about {
      cursor: pointer;
      width: 100%;
      height: 300px;
      padding: 2rem;
      margin-top: 2rem;
      background-color: white;
    }
    &_nav {
      transition: all 0.5s;
      width: 100%;
      height: 70px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      top: -100%;
    }
  }

  &_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-template-areas:
      "hd hd sub1 sub1"
      "hd hd sub2 sub3";
    margin: 4rem 0;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    &_card {
      position: relative;
      cursor: pointer;
      width: 100%;
      transition: all 0.3s;

      overflow: hidden;
      &:hover {
        .blog_bottom_img {
          transform: scale(1.1);
        }
        .blog_bottom_cover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
      &_title {
        color: white;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
    &_img {
      transition: all 0.3s;
      width: 100%;
      height: 100%;
    }
    &_cover {
      transition: all 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }

  &_aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    &_tag {
      margin: 0;
      padding: 1rem;
      li {
        margin: 0.5rem 1rem 0.5rem 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .icon {
      width: 3rem;
      margin-right: 1rem;
    }
  }
  &_footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: 120px;
    background-color: #121212;
    &_wrapper {
      display: flex;
      justify-content: space-between;
      width: 1120px;
      color: white;
      height: 100%;
      padding: 3rem 2rem;
      ul {
        display: flex;
        align-items: center;
        margin: 0;
      }
      li {
        a {
          color: white;
        }
      }
      @media only screen and (max-width: 1120px) {
        width: 100%;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      li {
        padding: 0.7rem 1.5rem;
      }
    }
  }
}

.article {
  //common
  padding: 1rem;
  cursor: pointer;

  &:hover {
    .article_desc {
      text-decoration: underline;
    }
    .article_img {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
  //style
  &_row {
    display: flex;
    max-height: 332px;
  }
  &_aside {
    font-size: 0.8rem;
    &_header {
      font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
  }
  //detail
  &_img {
    transition: all 0.3s;
    border-radius: 3px;
  }

  &_header {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }

  &_desc {
    margin: 1rem 0;
  }
  &_contents {
    width: 40%;
    height: 300px;
  }
  &_footer {
    color: rgba(0, 0, 0, 0.3);
  }
}
